#csvimport {
  overflow: visible;
}

#csv-import-column-mappings-table td {
  vertical-align:top;
}

.csv-import-column-map {
    border-top:2px solid #D7D5C4; 
    padding-top:10px;    
}

#csvimport span.add-element {
    background-image: url('../../../../../application/views/scripts/images/silk-icons/add.png');
    background-repeat: no-repeat;
    width: 20px;
}

table#column-mappings div.inputs {
    width: auto;
}


/* id=section-nav changed to class=section-nav to enable it to work with
 * Zend_Navigation.
 */
.horizontal-nav ul.section-nav {
    font-size: 1.1em;
    margin: 0;
    padding: 9px 0 12px;
}

.horizontal-nav ul.section-nav li {
    display: inline;
}

.horizontal-nav ul.section-nav a {
    color: #446677;
    padding: 9px 12px 12px;
    text-decoration: none;
    width: 126px;
}
/* Duplicate of "li.current" definition.  Zend_Navigation uses "active" for class
 * instead of current.
 */
.horizontal-nav ul.section-nav li.active a {
    background: none repeat scroll 0 0 #D7D5C4;
    border-color: #D7D5C4;
    border-style: solid;
    border-width: 0 0 1px;
    color: #333333;
    font-weight: bold;
}

div.csvimportnext {
  clear:both;
}